/*default colour scheme */
*
{
	font-family:arial;
	white-space:nowrap;
}

.noHighlight::-moz-selection{
    background-color:Transparent;
    color:#000;
}


.noHighlight::selection{
    background-color:Transparent;
    color:#000;
}

.noHighlight{
	cursor: pointer;
}

body
{
	text-align: center;
	background-color:#FFDD99;
}


.mainContent
{
	background-color: #FFFFFF;
	margin-top:80px;
	margin-bottom:2%;
	margin-right:6%;
	margin-left:6%;
	overflow: auto;
	min-width: 500px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	padding-bottom:20px;
}


.leftContent{
	visibility:hidden;
	left:0px;
	top:300px;
	height:300px;
	width:0px;
	position:absolute;
	
}

.rightContent{
	visibility:hidden;
	right:200px;
	top:300px;
	height:300px;
	width:0px;
	position:absolute;
	
}

.currentContent{
	width: 60%;
	height: 300px;
	margin-left: 20%;
	margin-top: 100px;
	
}

.leftButton:hover{
	background-color: #fea;
}

.rightButton:hover{
	background-color: #fea;
}

.rightButton{
	width: 50px;
	height: 67px;
	font-size: 60px;
	position: absolute;
	top: 354px;
	background-color: #fd9;
	right: 20%;
	-moz-user-select: none; /* user select stops highlight in click */
	-webkit-user-select: none;
	cursor: pointer;
}
.leftButton{
	width: 50px;
	height: 67px;
	font-size: 60px;
	position: absolute;
	top: 354px;
	background-color: #fd9;
	left: 20%;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}



.indexItemWrap{
	height: 350px;
	width: 80%;
	margin-left: 10%;
}

.searchSuggestion:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px;
}

.searchSuggestion{
	z-index: 10000;
	background-color: white;
	margin-top: -40px;
	margin-left: 206px;
	width: 140px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	position: fixed;
	box-shadow: 0px 0px 2px;
	opacity: 0.8;
	cursor: pointer;
}

.charRemaining{
	margin-top: -5px;
	margin-left:3px;
	font-size: 12px;
	opacity: 0.7;
}

.orderTable{
	font-size:15px;
	width: 95%;
	box-shadow:0 0ex 1px rgba(0,0,0,0.5) inset;
	margin-left: 2.5%;
	margin-right: 5%;
}

.buyerInfoWrap{
	width: 16%;
	height: 19px;
	float:left;
}

.itemNameWrap:active{
	background-color: #fea;
}

.itemNameWrap:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px;
}

.itemNameWrap{
	width: 20%;
	height: 19px;
	float:left;
	cursor: pointer;
}

.orderQuantityWrap{
	width: 10%;
	height: 19px;
	float:left;
}

.postCodeWrap{	
	width: 13%;
	height: 19px;
	float:left;
}

.buyerEmailWrap{
	width: 25%;
	height: 19px;
	float:left;
}



div.orderTable > *:nth-child(2n - 1){
	/* use this to distinguish rows */
	background-color: #eee;
	box-shadow:0 0ex 1px rgba(0,0,0,0.5) inset;
}

div.orderTable > *:nth-child(1){
	/* headers */
	background-color: #ddd;
	box-shadow:0 0ex 2px rgba(0,0,0,0.5) inset;
}

.choiceObject{
	margin-left: 40%;
	width: 20%;
	height: 25px;
	box-shadow:0 0ex 2px;
	cursor: pointer;
}

.invalidBox:focus{
	background-color: #FFBDBD
}

.validBox:focus{
	background-color: #dfd
}

.validBox{
	background-color: #BF9;
}

.invalidBox{
	background-color: #FF8D8D
}


.addStock:active{
	background-color: #fea;
}

.addStock:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px;
}

.addStock{
	float:right;
	height:19px;
	width:19px; /*square */
	box-shadow: 0 0ex 2px rgba(0,0,0,0.5);
	margin-right: 40px;
	cursor: pointer;
	
}

.stockIdWrap:active{
	background-color: #fea;
}

.stockIdWrap:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px;
}

.stockIdWrap{
	width: 30%;
	float:left;
	height: 19px;
	cursor: pointer;
}

.choiceObject:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px;
}

.choiceObject:active{
	background-color: #fea;
}

.updateButton{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 50%;
	margin-right: 40%;
	box-shadow:0 0ex 2px rgba(0,0,0,0.5) inset;
	cursor: pointer;
}

.updateButton:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px rgba(0,0,0,0.5);
}

.updateButton:active{
	background-color: #fea;
}


.basketTable{
	font-size:15px;
	width: 90%;
	box-shadow:0 0ex 1px rgba(0,0,0,0.5) inset;
	margin-left: 5%;
	margin-right: 5%;
}


div.basketTable > *:nth-child(2n - 1){
	/* use this to distinguish rows */
	background-color: #eee;
	box-shadow:0 0ex 1px rgba(0,0,0,0.5) inset;
}
	
.basketIdWrap:hover{
	/* onHover */
	background-color: #fd9;
	box-shadow:0 0ex 6px rgba(0,0,0,0.5);
}



.basketIdWrap:active{
	background-color: #fea;
}

div.basketTable > *:nth-child(1){
	/* headers */
	background-color: #ddd;
	box-shadow:0 0ex 2px rgba(0,0,0,0.5) inset;
}
	

.basketRow{
	/* height brace */
	height: 19px;
}


.basketIdWrap{
	width: 20%;
	float:left;
	height: 19px;
	cursor: pointer;
}

.basketQuanWrap{
	width: 10%;
	float:left;
	height: 19px;
}

.basketPriceWrap{
	width: 20%;
	float:right;
	height: 19px;
}

	



.itemImage
{
	max-width: 100%;
	max-height: 100%;
}


.itemPicture
{
	float: left;
	float: top;
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 80px;
	height: 25%;
	width: 25%;
	max-height: 400px;
	max-width: 400px;
	
}

.browsePicture
{
	float: right;
	height: 25%;
	width: 25%;
	margin-right: 20px;
	max-height: 150px;
	max-width: 150px;	
}

.browseDiv
{
	min-height: 13em;
	width: 42%;
	margin: 3.5%;
	margin-top: 2px;
	margin-bottom: 2px;
	float: left;
	cursor: pointer;
}

.browseDiv:hover
{
	box-shadow: 0px 0px 8px #DDBB77;
}

.browseDiv:active
{
	box-shadow: 0px 0px 12px #BB9955;
}

.itemComments
{
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 10px;
	width: 80%;
	height: 42%;
}

.commentForm
{
	text-align: left;
	margin-left: 5%;
}

.itemInfo
{
	text-align: left;
	float: right;
	float: top;
	margin-top: 30px;
	margin-right: 40px;
	margin-bottom: 80px;
	width: 40%;
	height: 30%;
	
}

.itemDescription
{
	text-align: left;
	margin-left:10%;
	margin-right:10%;
	margin-top: 450px;
	margin-bottom: 20px;
	width: 80%;
	height: 20%;
	
}

	



.left
{
	text-align : left;
	margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
}


select
{
	margin-right:10%;
}

/*this code handles the menu, consider changing to classes for maintainabilty*/

ul
{
	font-size: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
	
}
ul li
{
	display: block;
	position: relative;
	float: right;
	margin-left: 0;
	margin-left: 0;
	margin-right: 0;
}

li ul 
{ 
	display: none; /*holds hisplay together */
}

.menuCase{
	display: block;
	border-left: 1px solid #000000;
	text-decoration: none;
	color: #000000; /* removes hyperlink look */
	padding: 5px 15px 5px 15px;
	background: #FFCC88;
	margin-left: 1px;
}

ul li a:hover 
{
	background: #FFDD99; 
}

li:hover ul 
{
	display: block;
	position: absolute;
}

li:hover li 
{
	float: none;
	font-size: 20px;
}

li:hover a 
{
	background: #FFDD99; 
}
li:hover li a:hover 
{
	background: #FFCC88;
}

/*end of menu code */

.logo
{
	float: left;
	margin: 2px;
	margin-left: 10px;
	width: 140px;
	font-size: 40px;
	color: black;
}

.leftDiv
{
	width: 50%;
	float: left;
	overflow: auto;
}

.rightDiv
{
	width: 50%;
	float: right;
	overflow: auto;
}

.hide
{
	visibility: hidden;
}

.unhide
{
	visibility: visible;
}

header
{
	padding-top: 0em;
	position: fixed;
	width:100%;
	right:0px;
	min-width: 790px;
	top: 0px;
	height: 50px;
	background-color:#FFCC88;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index:9999;
}

.headerSearch
{
	padding-top: 10px;
	float: left;
	margin-top: 6px;
	margin-left: 60px;
}

.select
{
	padding-right: 40%;
	oveflow: auto;
}


/* drag drop uploader style */
/* modified from */
/* http://github.com/portsoc/dragupload */

.dragBox {
	float: left;
	padding: 2em;
	max-width: 8em;
	background: #FFDD99;
	text-align: center;
	border-radius: .2em;
	color: #FFF;
	font-weight: bold;
	font-size: 150%;
	text-shadow: 0 0ex 0.1ex rgba(0,0,0,0.5);
	box-shadow:  0 0ex 3px rgba(0,0,0,0.5) inset;
	margin-left: 10em;
	white-space: normal;
}

#response {
	font-size: 60%;	
}

.dragBox:hover{
	background:#FFCC88;
	box-shadow:0 0ex 5px rgba(0,0,0,0.5) inset;
	white-space: normal;
	
}



