
*
{
	font-family:arial;
}

body
{
	text-align: center;
	background-color:#FFDD99;
}

.mainContent
{
	background-color: #FFFFFF;
	margin-top:80px;
	margin-bottom:2%;
	margin-right:10%;
	margin-left:10%;
	overflow: auto;
	min-width: 950px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	padding-bottom:20px;
}

.choiceObject{
	margin-left: 40%;
	width: 20%;
	height: 25px;
	box-shadow:0 0ex 2px;
}

.invalidBox:focus{
	background-color: #FF6D6D
}

.validBox:focus{
	background-color: #afa
}

.validBox{
	background-color: #9f6;
}

.invalidBox{
	background-color: #FF4D4D
}

.addStock:active{
	background-color: #fea;
}

.addStock:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px;
}

.addStock{
	float:right;
	height:19px;
	width:19px; /*square */
	box-shadow: 0 0ex 2px rgba(0,0,0,0.5);
	margin-right: 40px;
	
}

.stockIdWrap:active{
	background-color: #fea;
}

.stockIdWrap:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px;
}

.stockIdWrap{
	width: 30%;
	float:left;
	height: 19px;
}

.choiceObject:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px;
}

.choiceObject:active{
	background-color: #fea;
}

.updateButton{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 50%;
	margin-right: 40%;
	box-shadow:0 0ex 2px rgba(0,0,0,0.5) inset;
}

.updateButton:hover{
	background-color: #fd9;
	box-shadow:0 0ex 6px rgba(0,0,0,0.5);
}

.updateButton:active{
	background-color: #fea;
}


.basketTable{
	font-size:15px
	width: 80%;
	box-shadow:0 0ex 1px rgba(0,0,0,0.5) inset;
	margin-left: 10%;
	margin-right: 10%;
}


div.basketTable > *:nth-child(2n - 1){
	/* use this to distinguish rows */
	background-color: #eee;
	box-shadow:0 0ex 1px rgba(0,0,0,0.5) inset;
}
	
.basketIdWrap:hover{
	/* onHover */
	background-color: #fd9;
	box-shadow:0 0ex 6px rgba(0,0,0,0.5);
}



.basketIdWrap:active{
	background-color: #fea;
}

div.basketTable > *:nth-child(1){
	/* headers */
	background-color: #ddd;
	box-shadow:0 0ex 2px rgba(0,0,0,0.5) inset;
}
	

.basketRow{
	/* height brace */
	height: 19px;
}


.basketIdWrap{
	width: 20%;
	float:left;
	height: 19px;
}

.basketQuanWrap{
	width: 10%;
	float:left;
	height: 19px;
}

.basketPriceWrap{
	width: 20%;
	float:right;
	height: 19px;
}

	



.itemImage
{
	max-width: 100%;
	max-height: 100%;
}


.itemPicture
{
	float: left;
	float: top;
	margin-left: 100px;
	margin-top: 80px;
	margin-bottom: 80px;
	height: 25%;
	width: 25%;
	max-height: 400px;
	max-width: 400px;
	
}

.browsePicture
{
	float: right;
	height: 25%;
	width: 25%;
	margin-right: 20px;
	max-height: 200px;
	max-width: 200px;	
}

.browseDiv
{
	min-height: 13em;
	width: 42%;
	margin: 3.5%;
	margin-top: 2px;
	margin-bottom: 2px;
	float: left;
}

.browseDiv:hover
{
	box-shadow: 0px 0px 8px #DDBB77;
}

.browseDiv:active
{
	box-shadow: 0px 0px 12px #BB9955;
}

.itemComments
{
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 10px;
	width: 80%;
	height: 42%;
}

.commentForm
{
	text-align: left;
	margin-left: 5%;
}

.itemInfo
{
	text-align: left;
	float: right;
	float: top;
	margin-top: 80px;
	margin-right: 40px;
	margin-bottom: 80px;
	width: 40%;
	height: 30%;
	
}

.itemDescription
{
	text-align: left;
	margin-left:10%;
	margin-right:10%;
	margin-top: 450px;
	margin-bottom: 20px;
	width: 80%;
	height: 20%;
	/*border: 1px solid #999999;*/
	
}

	



.left
{
	text-align : left;
	margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
}


select
{
	margin-right:10%;
}

/*this code handles the menu, consider changing to classes for maintainabilty*/

ul
{
	font-family: Arial;
	font-size: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li 
{
	display: block;
	position: relative;
	float: right;
	margin-left: 0;
	margin-left: 0;
	margin-right: 0;
}

li ul 
{ 
	display: none; 
}

.menuCase
/* formats the actual menu items */
{
	display: block;
	text-decoration: none;
	color: #000000;
	border-left: 1px solid #000000;
	/*border-right: 1px solid #000000;*/
	padding: 5px 15px 5px 15px;
	background: #FFCC88;
	margin-left: 1px;
	white-space: nowrap;
}

ul li a:hover 
{
	background: #FFDD99; 
}

li:hover ul 
{
  display: block;
  position: absolute;
}

li:hover li 
{
  float: none;
  font-size: 20px;
}

li:hover a 
{
	background: #FFDD99; 
}
li:hover li a:hover 
{
	background: #FFCC88;
}

/*end of menu code */

.logo
{
float: left;
}

.leftDiv
{
	width: 50%;
	float: left;
	overflow: auto;
}

.rightDiv
{
	width: 50%;
	float: right;
	overflow: auto;
}

.hide
{
	visibility: hidden;
}

.unhide
{
	visibility: visible;
}

header
{
	padding-top: 0em;
	position: fixed;
	width:100%;
	right:0px;
	min-width: 900px;
	top: 0px;
	height: 50px;
	background-color:#FFCC88;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.headerSearch
{
	padding-top: 10px;
}

.select
{
	padding-right: 40%;
	oveflow: auto;
}

/*@media screen and (max-width:650px) {


    header{
		padding-top: 1em;
		position: fixed;
		width:100%;
		right:0px;
		min-width: 380px;
		top: 0px;
		height: 150px;
		background-color:#FFCC88;
    }
	
	.logo
	{
		top:0;
		right: 0;
		float:right;
		padding-left: 20%;
		padding-right: 20%;
	}
	
	.dropDown
	{
		top:60px;
		right: 0;
		float:right;
		padding-left: 30%;
		padding-right: 30%;
		overflow: auto;
	}
	
	.mainContent
	{
		background-color : #FFFFFF;
		margin-top:200px;
		margin-bottom:2%;
		margin-right:10%;
		margin-left:10%;
		overflow: auto;
	}
	

	
	.leftDiv
	{
		width: 100%;
		float: none;
	}
	
	.rightDiv
	{
		width: 100%;
		float: none;
	}
	
	
	
	.searchForm
	{
		width: 300px;
		padding-left: 20%;
		right: 30px;
		overflow: auto;
		float: right;
	}
	
	.search
	{
		left: 50 px;
		overflow: auto;
	}

	
	.menuCase
	
	
	{
		float: right;
		display: block;
		text-decoration: none;
		color: #000000;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
		padding: 1px 4px 1px 4px;
		background: #FFCC88;
		margin-right: 30%;
		white-space: nowrap;
		
	}
	
	
	li:hover li 
	{
		float: none;
		font-size: 16px;
	}
	
	ul
	{
		font-family: Arial;
		font-size: 16px;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	}
	
	*/

/* drag drop uploader style */

.dragBox {
	float: left;
	padding: 2em;
	max-width: 8em;
	background: #FFDD99;
	text-align: center;
	border-radius: .2em;
	color: #FFF;
	font-weight: bold;
	font-size: 150%;
	text-shadow: 0 0ex 0.1ex rgba(0,0,0,0.5);
	box-shadow:  0 0ex 3px rgba(0,0,0,0.5) inset;
	margin-left: 10em;
}

#response {
	font-size: 60%;	
}

.dragBox:hover{
	background:#FFCC88;
	box-shadow:0 0ex 5px rgba(0,0,0,0.5) inset;
	
}



